In [ ]:
x=100
while x<600:
    print("Yes")
    x=x-100

In [1]:
dollars=[40,50,60,70,80]
dollars*2

[40, 50, 60, 70, 80, 40, 50, 60, 70, 80]

In [3]:
for i in dollars:
    print(i)

40
50
60
70
80

In [5]:
for i in dollars:
    print(i*2)

80
100
120
140
160

In [7]:
for i in dollars:
    print(i*85)

3400
4250
5100
5950
6800

In [11]:
rupees=[3400,4250,5100,5950,6800]
rupees

[3400, 4250, 5100, 5950, 6800]

In [13]:
for i in rupees:
    print(i)

3400
4250
5100
5950
6800

In [15]:
for i in rupees:
    print(i/85)

40.0
50.0
60.0
70.0
80.0

In [27]:
Price=[10,20,30,40,50]
Price

for i in Price:
    print(i+(i*0.18))

11.8
23.6
35.4
47.2
59.0

In [39]:
num = [10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
num

for i in num:
    print(i+(i*0.18))
    exit()

print("These are the values after adding 18% GST")

11.8
12.98
14.16
15.34
16.52
17.7
18.88
20.06
21.24
22.42
23.6
24.78
25.96
27.14
28.32
29.5
These are the values after adding 18% GST

In [11]:
num = [10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in num:
    print(i*1)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [21]:
num = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
j = []
k = []
for i in num:
    if i % 2 == 0:
        j.append(i)
    else:
        k.append(i)

print("Even:", j)
print("Odd:", k)

Even: [10, 12, 14, 16, 18, 20, 22, 24]
Odd: [11, 13, 15, 17, 19, 21, 23, 25]

In [27]:
num = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
h = []
for i in num:
    a = str(i)
    b = a.replace('8', '5')
    c = int(b)
    h.append(c)