In [1]:
import numpy as np

In [7]:
a = np.random.randint(1,9,(7,8))
a

array([[4, 6, 4, 2, 8, 7, 1, 6],
       [2, 7, 2, 7, 5, 2, 4, 8],
       [7, 3, 1, 4, 1, 4, 5, 7],
       [4, 1, 6, 8, 5, 7, 1, 4],
       [4, 1, 1, 4, 7, 7, 7, 7],
       [8, 1, 2, 8, 6, 1, 2, 6],
       [1, 6, 6, 4, 4, 5, 4, 8]])

In [11]:
a[1] #identifing rows with index values

array([2, 7, 2, 7, 5, 2, 4, 8])

In [17]:
#array[row start:row end:row step,col start:col end:col step]

In [19]:
a[2:6:2,1:2:3]

array([[3],
       [1]])

In [21]:
a[1:5,1:7]

array([[7, 2, 7, 5, 2, 4],
       [3, 1, 4, 1, 4, 5],
       [1, 6, 8, 5, 7, 1],
       [1, 1, 4, 7, 7, 7]])

In [15]:
a.shape #to know the matrix size

(7, 8)

In [23]:
import pandas as pd   #used to manupulate data

In [46]:
k=[1,2,3,4,5,6,7,8,9]
k

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
pd.DataFrame(k)

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9

In [56]:
k=[[4,7],[2,9],[7,3],[90,50]]
k

[[4, 7], [2, 9], [7, 3], [90, 50]]

In [60]:
t=np.array(k)
t

array([[ 4,  7],
       [ 2,  9],
       [ 7,  3],
       [90, 50]])

In [62]:
t.ndim

2

In [64]:
pd.series(t)

AttributeError: module 'pandas' has no attribute 'series'

In [66]:
t

array([[ 4,  7],
       [ 2,  9],
       [ 7,  3],
       [90, 50]])

In [68]:
pd.DataFrame(t)

    0   1
0   4   7
1   2   9
2   7   3
3  90  50

In [ ]:
pd.DataFrame(t,columns